#customer-track-container {
  width: 100%;
  height: 100%;
  overflow-x: auto;

  app-video-frame {
    margin-left: 10px;
    height: 100%;
    width: 200px;
    float: right;
    position: relative;
    background-color: black;
  }
}