$primary: (
    white: white,
    black: black,
    grey: #5C5C5C,
    
    background-color: #f4f4f4,

    blue-green-gradient: linear-gradient(90deg, #15a9cb 0%, #13aabd 18%, #11aba9 51%, #55c3c4 100%),
    green-blue-gradient: linear-gradient(90deg, #55c3c4 0%, #11aba9 49%, #13aabd 82%, #15a9cb 100%)
);